@charset "UTF-8";
:root {
  --main-color: #212121;
  --accent: #2196f3;
  --first-color: #ffffff;
  --second-color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--first-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  background: var(--first-color);
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 320px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scaleY(0.7);
}

.modal-form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.form-label {
  display: block;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid var(--accent);
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  margin-left: 11px;
}
.form-input:focus + .modal-icon {
  fill: var(--accent);
}

.form-textarea {
  width: 100%;
  height: 120px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.form-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea:focus {
  border: 1px solid var(--accent);
  outline: transparent;
}

/*
.input-check:checked + .modal-text::before {
  background-color: var(--accent);
  background-image: url(../images/modal/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
}*/
/*.modal-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8px;
}*/
.modal-privacy {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .modal-text {
    font-size: 12px;
  }
}

.modal-text .modal-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .modal-text .modal-check {
  background-color: var(--accent);
  border-color: transparent;
  fill: var(--first-color);
}

.text-privacy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent);
  margin-left: 7px;
}
@media screen and (min-width: 480px) {
  .text-privacy {
    font-size: 12px;
  }
}

.modal-form-button {
  width: 200px;
  height: 50px;
  background: var(--accent);
  width: 200px;
  height: 50px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.modal-button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 10px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  fill: var(--accent);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*header*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .header {
    padding: 0;
  }
}

.navigation {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    padding: 28px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu a {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
  display: inline-block;
  margin-right: 93px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .navigation__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo__accent {
  color: var(--main-color);
}

.connect__contact {
  display: none;
  gap: 50px;
}

.connect {
  margin-left: auto;
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent);
}

.current {
  color: var(--accent);
  padding-bottom: 32px;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--accent);
  border-radius: 2px;
}

/*
.header-contact:hover,
.header-contact:focus {
  fill: var(--accent);
}*/
.connect__contact {
  margin-left: auto;
  padding-left: 0;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .connect__contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connect__contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link:hover, .contact__link:focus {
    font-size: 12px;
    line-height: 1.16;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-open_button {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open_button {
    display: none;
  }
}

.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding-left: 40px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu > .containerr__mob-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close_button {
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border: none;
  margin-top: 10px;
}
.menu-close_button:focus {
  fill: var(--accent);
}

.mob-menu__list {
  margin-bottom: 300px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .mob-menu__list {
    margin-bottom: 260px;
  }
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mob-menu__link:not(:last-child) {
  margin-bottom: 32px;
  text-decoration: none;
}
.mob-menu__link:not(:last-child):hover, .mob-menu__link:not(:last-child):focus {
  color: var(--accent);
}

.mob-connect__list {
  margin-bottom: 64px;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .mob-connect__link {
    font-size: 28px;
  }
}

.mob-connect__email {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.mob-soc-item:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  height: 22px;
  margin-left: 10px;
  display: flex;
  gap: 10px;
}

.mob-soc__list {
  display: flex;
  gap: 20px;
}

.mob-soc__icon {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .mob-soc__icon {
    font-size: 12px;
  }
}

.mob-soc__item:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  height: 22px;
  margin-left: 10px;
}

/*hero*/
.hero {
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 200px 0;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hero {
    padding: 118px 0;
  }
}
@media screen and (min-width: 320px) {
  .hero {
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg-2x.jpg);
  }
}

.hero__container {
  /* @media screen and (min-width: 480px) {
      .container {
        width: 480px;
        padding: 0;
      }
    }
    @media screen and (min-width: 768px) {
      .container {
        width: 720px;
      }
    }
    @media screen and (max-width: 1200px) {
      .container {
        width: 1200px;
      }
    }
  */
}

.hero__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero__title {
    font-size: 20px;
    line-height: 1.28;
    width: 310px;
    font-weight: 700;
  }
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  border: none;
  background-color: var(--accent);
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--first-color);
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*quality*/
@media screen and (min-width: 320px) {
  .quality {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .quality {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .quality-list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .quality-list {
    gap: 30px;
    display: inline-flex;
  }
}

@media screen and (min-width: 768px) {
  .quality-list__item {
    display: flex;
    flex-wrap: wrap;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .quality-list__item {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .quality-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.quality-list__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
@media screen and (min-width: 320px) {
  .quality-list__picture {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .quality-list__picture {
    width: 354px;
  }
}

.quality-list__icon {
  width: 70px;
  height: 70px;
}

.quality-list__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .quality-list__title {
    text-align: center;
  }
}

.quality-list__text {
  line-height: 1.71;
  color: var(--second-color);
}

/*work*/
@media screen and (max-width: 1200px) {
  .work {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .section__title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

.image__list {
  display: flex;
  gap: 30px;
}

.image__item {
  width: calc((100% - 60px) / 3);
}
.image__item .direction__item {
  display: flex;
}
.image__item .direction__item:not(:last-child) {
  margin-right: 30px;
}

.image__over {
  position: relative;
}

.work__top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.work-foto {
}*/
/*team*/
.team {
  background: #f5f4fa;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__info {
  padding-top: 30px;
  padding-bottom: 36px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
  margin-bottom: 10px;
}

.network__list {
  display: inline-block;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.network__icon {
  fill: currentColor;
}

/*.team-icon {
}*/
.network__icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__icon-link:hover, .network__icon-link:focus {
  background-color: var(--accent);
  color: var(--first-color);
}

/*.team-icon-link:hover .network-icon,
.team-icon-link:focus .network-icon {
  fill: var(--first-color);
}*/
/*.current {
  color: var(--accent);
}*/
.team__desc {
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
  margin-bottom: 16px;
}

/*clients*/
/*.clients {
}*/
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    gap: 30px;
  }
}

@media screen and (min-width: 320px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 210px;
  }
}

.clients__logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  color: var(--accent);
  border: 1px solid #2196f3;
}

.client__icon {
  fill: currentColor;
}

/*footer*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-web {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-web {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 320px) {
  .footer-tablet {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: flex;
    gap: 70px;
    align-items: baseline;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts {
    margin-bottom: 60px;
  }
}

.contacts__link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
  display: block;
  margin-bottom: 20px;
}

.accent {
  color: var(--first-color);
}

.contacts__contacts-type {
  margin-bottom: 9px;
}

.contacts__list {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__list {
    text-align: center;
  }
}

.contacts__map {
  font-style: normal;
  line-height: 1.71;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__map:hover, .contacts__map:focus {
  color: var(--accent);
}

.contacts__contact {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__contact:hover, .contacts__contact:focus {
  color: var(--accent);
}

/*.network {
}*/
.network__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}

.network__list {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .network__list {
    margin-left: auto;
    margin-right: auto;
  }
}

.network__icon-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1019607843);
  color: var(--first-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__icon-link-footer:hover, .network__icon-link-footer:focus {
  background-color: var(--accent);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .signup__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .signup__form {
    display: flex;
    align-items: center;
  }
}

.network__text {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
}

.form__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.singup {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.send-email input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hero-background-color);
  color: var(--header-background-color);
}
.send-email input:focus {
  color: var(--header-background-color);
  outline-color: var(--accent-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .send-email input {
    width: 290px;
  }
}

.button__singup {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-color);
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 1200px) {
  .button__singup {
    margin-left: 12px;
  }
}

.icon__singup {
  margin-left: 10px;
}

/*hero-portfolio*/
.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*.portfolio-title {
}*/
.portfolio-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

/*.portfolio-item {
}*/
.portfolio-button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
  padding: 6px 25px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  color: var(--first-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-project .portfolio-project-foto {
  width: 370px;
  height: 294px;
  display: block;
}

.portfolio-project-item {
  /*width: calc((100% - 60px) / 3);*/
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-project-item:hover, .portfolio-project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project-gallery {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.portfolio-project-foto {
}*/
.portfolio-project-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-project-text-top {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-project-gallery:hover .portfolio-project-text-top, .portfolio-project-gallery:focus .portfolio-project-text-top {
  transform: translateY(0);
}

.portfolio-project-info {
  padding: 20px 24px;
}

.portfolio-project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.portfolio-project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}

.accessories {
  /* width: 388px;
  height: 4096px;*/
  background-image: url(../images/accessories/background/bg-mobile.jpg);
}

/*.container {
}*/
.accessories__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
  padding-left: 16px;
}

.accessories__vector {
  fill: currentColor;
}

.accessories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 40px 24px 32px 24px;
}

/*
.accessories__item {
}*/
.accessories__button {
  padding: 8px 16px;
  width: 124px;
  height: 35px;
  border: 1px solid #86e543;
  border-radius: 16px;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #86e543;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accessories__button:hover, .accessories__button:focus {
  color: #01383a;
  background: #86e543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.accessories__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.accessories__menu .accessories__foto {
  display: block;
  width: 285px;
  height: 276px;
}

.accessories__gallery {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accessories__top-wrap {
  position: relative;
  overflow: hidden;
}

.accessories__foto {
  border-radius: 12px;
}
.accessories__foto:hover, .accessories__foto:focus {
  border: 2px solid #86e543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.accessories__top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background: linear-gradient(0deg, #01383a, #01383a);
  padding: 16px 16px 52px 16px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accessories__gallery:hover .accessories__top-text, .accessories__gallery:focus .accessories__top-text {
  transform: translateY(0);
}

.accessories__info {
  padding: 8px 18px 28px 18px;
}

.accessories__thumb {
  display: flex;
  justify-content: space-between;
}

.accessories__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
  margin-bottom: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.accessories__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8d9289;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.accessories__new-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #86e543;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}/*# sourceMappingURL=main.css.map */