:root {
  --main-color: #212121;
  --accent: #2196f3;
  --first-color: #ffffff;
  --second-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: var(--first-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 28px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
}
.accent-header {
  color: var(--main-color);
}
.header-item,
.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent);
}
.current {
  color: var(--accent);
}
.header-contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.header-contact-link:hover {
  color: var(--accent);
}

/*hero*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
}
.hero-button {
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-color);
  cursor: pointer;
}
/*quality*/
/*.quality {
}
.quality-titlenone {
}
.quality-list {
}
.quality-item {
}*/
.quality-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}
.quality-text {
  line-height: 1.71;
  color: var(--second-color);
}
/*work*/
/*.work {
}*/
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
}
/*.work-list {
}
.work-item {
}
.work-foto {
}*/
/*team*/
/*.team {
}*/
/*.team-list {
}
.team-item {
}
.team-foto {
}*/
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--main-color);
}
.team-desc {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
}
/*footer*/
.footer {
  background: #2f303a;
}
.footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
}
.accent {
  color: var(--first-color);
}
/*.footer-adress {
}
.footer-list {
}
.footer-link {
}*/
.footer-map {
  font-style: normal;
  line-height: 1.71;
  color: var(--first-color);
}
.footer-contact {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent);
}
/*hero-portfolio*/
/*.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}*/
/*.portfolio-item {
}
*/

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--first-color);
  background-color: var(--accent);
}
/*.portfolio-project {
}
.portfolio-project-item {
}*/
.portfolio-project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portfolio-project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}
