:root {
  --main-color: #212121;
  --accent: #2196f3;
  --first-color: #ffffff;
  --second-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: var(--first-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
  display: inline-block;
  margin-right: 93px;
}
.accent-header {
  color: var(--main-color);
}

.header-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-list-contact {
  display: flex;
  gap: 50px;
}
.header-connect {
  margin-left: auto;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent);
}
.current {
  color: var(--accent);
}
.header-contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.header-contact-link:hover {
  color: var(--accent);
}

/*hero*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  border: none;
  background-color: var(--accent);
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--first-color);
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*quality*/
.quality {
  padding-bottom: 0px;
}

.quality-list {
  display: flex;
  gap: 30px;
}
.quality-item {
  width: calc((100%-90px) / 4);
}

.quality-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.quality-text {
  line-height: 1.71;
  color: var(--second-color);
}
/*work*/
/*.work {
}*/
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
}
.work-item {
  width: calc((100%-60px) / 3);
}
.work-foto {
}

/*team*/
.team {
  background: #f5f4fa;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team-desc {
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
}
/*footer*/
.footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
}
.accent {
  color: var(--first-color);
}
.footer-adress {
}
.footer-list {
}
.footer-link {
  display: block;
  margin-bottom: 20px;
}
.footer-list-contact {
  margin-bottom: 9px;
}
.footer-map {
  font-style: normal;
  line-height: 1.71;
  color: var(--first-color);
}
.footer-contact {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent);
}
/*hero-portfolio*/
.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}
.portfolio-title {
}
.portfolio-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
}

.portfolio-item {
}

.portfolio-button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
  padding: 6px 25px;
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--first-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-project-item {
  width: calc((100%-60px) / 3);
  border: 1px solid #eeeeee;
}
.portfolio-project-foto {
}
.portfolio-project-info {
  padding: 20px 24px;
}
.portfolio-project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.portfolio-project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}
