.accessories {
  /* width: 388px;
  height: 4096px;*/
  background-image: url(../images/accessories/background/bg-mobile.jpg);
}
/*.container {
}*/
.accessories__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
  padding-left: 16px;
}
.accessories__vector {
  fill: currentColor;
}

.accessories__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 40px 24px 32px 24px;
}
/*
.accessories__item {
}*/

.accessories__button {
  padding: 8px 16px;
  width: 124px;
  height: 35px;

  border: 1px solid #86e543;
  border-radius: 16px;
  background-color: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #86e543;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #01383a;
    background: #86e543;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  }
}

.accessories__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.accessories__menu .accessories__foto {
  display: block;
  width: 285px;
  height: 276px;
}
.accessories__card {
}
.accessories__gallery {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accessories__top-wrap {
  position: relative;
  overflow: hidden;
}
.accessories__foto {
  border-radius: 12px;
  &:hover,
  &:focus {
    border: 2px solid #86e543;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  }
}
.accessories__top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background: linear-gradient(0deg, #01383a, #01383a);
  padding: 16px 16px 52px 16px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .accessories__gallery:hover &,
  .accessories__gallery:focus & {
    transform: translateY(0);
  }
}
.accessories__info {
  padding: 8px 18px 28px 18px;
}
.accessories__thumb {
  display: flex;
  justify-content: space-between;
}
.accessories__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
  margin-bottom: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.accessories__price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8d9289;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.accessories__new-price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #86e543;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
