.accessories {
  /* width: 388px;
  height: 4096px;*/
  box-shadow: -1px 10px 10px -7px rgba(134, 229, 67, 0.75) inset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    background: url(../images/accessories/background/bg-mobile.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: url(../images/accessories/background/bg-mobile-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background: url(../images/accessories/background/bg-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: url(../images/accessories/background/bg-tablet-2x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background: url(../images/accessories/background/bg1.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: url(../images/accessories/background/bg1-2x.jpg);
  }
}
/*.container {
}*/
.accessories__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: var(--primary--color);
  padding-left: 16px;
  @media screen and (max-width: 767px) {
    padding-left: 16px;
    padding-right: auto;
  }
  @media screen and (min-width: 768px) {
    padding-left: 127px;
    padding-right: auto;
    font-size: 56px;
  }
}
.line {
  width: 100%;
  top: 309px;
  height: 27px;
  @media screen and (min-width: 768px) {
    width: 100%;
    top: 194px;
  }
}
.line__first-up {
  width: 188px;
  border: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  position: absolute;
  top: 202px;
  left: 0;
}

.line__second-up {
  height: 8px;
  border-left: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  position: absolute;
  top: 29px;
  left: 187px;
}

.line__third-up {
  width: calc(100% - 187px);
  border: 1px solid #7be34a;
  box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
  position: absolute;
  top: 194px;
  right: 0;
}

.line__first-bottom {
  width: 135px;
  border: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
  position: absolute;
  top: 40px;
  left: 0;
}

.line__second-bottom {
  height: 9px;
  border: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
  position: absolute;
  top: 33px;
  left: 134px;
}

.line__third-bottom {
  width: calc(100% - 134px);
  border: 1px solid #28780d;
  box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
  position: absolute;
  top: 32px;
  right: 0;
}
.accessories__list {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    gap: 24px;
    padding: 40px 24px 32px 24px;
  }
  @media screen and (min-width: 768px) {
    gap: 53px;
    padding: 120px 40px 72px 40px;
  }
  @media screen and (min-width: 1200px) {
    gap: 44px;
    padding: 120px 238px 72px 238px;
  }
}
/*
.accessories__item {
}*/

.accessories__botton {
  padding: 8px 16px;
  border: 1px solid var(--accent--color);
  border-radius: 16px;
  background-color: transparent;
  font-weight: 700;
  color: var(--accent--color);
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--header--color);
    background: var(--accent--color);
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  }
  @media screen and (max-width: 767px) {
    width: 124px;
    height: 35px;
  }
  @media screen and (min-width: 768px) {
    width: 132px;
    height: 51px;
  }
  @media screen and (min-width: 1200px) {
    width: 168px;
    height: 51px;
  }
}
/*filter*/
.hide {
  opacity: 1;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
/*filter-end*/

.accessories__menu {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    gap: 16px;
    //padding: 16px 17px 16px 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    row-gap: 24px;
    column-gap: 38px;
    //padding: 24px 80px 168px 80px;
    padding-top: 24px;
    padding-bottom: 32px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    row-gap: 24px;
    column-gap: 14px;
    //padding: 24px 40px 168px 40px;
    padding-top: 24px;
    padding-bottom: 32px;
    justify-content: center;
  }
}
.accessories__menu .accessories__foto {
  display: block;
  width: 285px;
  height: 276px;
}
.accessories__card {
}
.accessories__gallery {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accessories__top-wrap {
  position: relative;
  overflow: hidden;
  &:hover,
  &:focus {
    border: 1px solid var(--accent--color);
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
    border-radius: 12px;
  }
}

.accessories__foto {
  border-radius: 12px;
  border: 2px solid var(--accent--color);
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.accessories__top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary--color);
  background: linear-gradient(0deg, var(--header--color), var(--header--color));
  padding: 16px 16px 52px 16px;
  height: 100%;
  width: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 12px;

  .accessories__gallery:hover &,
  .accessories__gallery:focus & {
    transform: translateY(0);
  }
}
.accessories__info {
  padding: 8px 16px 8px 8px;
}
.accessories__thumb {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.accessories__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: var(--accent--color);
  margin-bottom: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.accessories__price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8d9289;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.accessories__new-price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #86e543;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.accessories__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: var(--secondary-color);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.accessories__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: var(--accent--color);
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.accessories__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-bottom: 120px;
}
.accessories__btn-item:first-child {
  width: 40px;
  height: 16px;
  border-radius: 30px;
  border: none;
}
.accessories__btn-item {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 5px #999;
  &:hover {
    background-color: var(--accent--color);
  }
  &:active {
    background-color: var(--accent--color);
    box-shadow: 0 5px rgb(102, 102, 102);
    transform: translateY(4px);
  }
}
.accessories__btn-item-hidden {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 5px #999;
  @media screen and (max-width: 768px) {
    display: none;
  }
  &:hover {
    background-color: var(--accent--color);
  }
  &:active {
    background-color: var(--accent--color);
    box-shadow: 0 5px rgb(102, 102, 102);
    transform: translateY(4px);
  }
}
