/*clients*/
/*.clients {
}*/
.clients__list {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}
.clients__item {
  @media screen and (min-width: 320px) {
    // width: 210px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 768px) {
    // width: 226px;
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: 210px;
  }
}
.clients__logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
    border: 1px solid #2196f3;
  }
}

.client__icon {
  fill: currentColor;
}
