/*footer*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-web {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-tablet {
  @media screen and (min-width: 320px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 70px;
    align-items: baseline;
    margin-bottom: 0;
  }
}
.contacts {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.contacts__link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
  display: block;
  margin-bottom: 20px;
}

.accent {
  color: var(--first-color);
}

.contacts__contacts-type {
  margin-bottom: 9px;
}

.contacts__list {
  display: block;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;
  }
}

.contacts__map {
  font-style: normal;
  line-height: 1.71;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.contacts__contact {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

/*.network {
}*/

.network__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}

.network__list {
  display: flex;
  gap: 10px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.network__icon-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff1a;
  color: var(--first-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}

.form {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.signup__form {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.network__text {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
}

.form__email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}

.singup {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.send-email input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hero-background-color);
  color: var(--header-background-color);
  &:focus {
    color: var(--header-background-color);
    outline-color: var(--accent-color);
  }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 290px;
  }
}

.button__singup {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-color);
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.icon__singup {
  margin-left: 10px;
}
