/*hero-portfolio*/
.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*.portfolio-title {
}*/
.container {
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

/*.portfolio-item {
}*/

.portfolio-button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
  padding: 6px 25px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--first-color);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

portfolio-project .portfolio-project-foto {
  width: 370px;
  height: 294px;
  display: block;
}

.portfolio-project-item {
  /*width: calc((100% - 60px) / 3);*/
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-project-gallery {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.portfolio-project-foto {
}*/
.portfolio-project-top-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-project-text-top {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio-project-gallery:hover &,
  .portfolio-project-gallery:focus & {
    transform: translateY(0);
  }
}

.portfolio-project-info {
  padding: 20px 24px;
}

.portfolio-project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.portfolio-project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}
