/*quality*/
.quality {
  padding-bottom: 0px;
}

.quality-list {
  display: flex;
  gap: 30px;
}

.quality-list__item {
  width: calc((100% - 90px) / 4);
}
.quality-list__picture {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.quality-list__icon {
  width: 70px;
  height: 70px;
}
.quality-list__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.quality-list__text {
  line-height: 1.71;
  color: var(--second-color);
}
