/*team*/
.team {
  background: #f5f4fa;
  text-align: center;
}

.team__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team__info {
  padding-top: 30px;
  padding-bottom: 36px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
  margin-bottom: 10px;
}

.network__list {
  display: inline-block;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.network__icon {
  fill: currentColor;
}
/*.team-icon {
}*/

.network__icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent);
    color: var(--first-color);
  }
}

/*.team-icon-link:hover .network-icon,
.team-icon-link:focus .network-icon {
  fill: var(--first-color);
}*/
/*.current {
  color: var(--accent);
}*/

.team__desc {
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
  margin-bottom: 16px;
}
