/*work*/
.work {
  @media screen and (max-width: 1200px) {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.section__title {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

.image__list {
  display: flex;
  gap: 30px;
}

.image__item {
  width: calc((100% - 60px) / 3);
  .direction__item {
    display: flex;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.image__over {
  position: relative;
}

.work__top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.work-foto {
}*/
